__pycache__/
*.pyc
*.pyo
*.pyd
.Python
.env
*.db
*.sqlite3
*.sqlite
.venv/
venv/
env/
node_modules/
dist/
build/
*.egg-info/
.DS_Store
*.log
app/static/uploads/images/*
app/static/uploads/icons/*
app/static/uploads/files/*
!app/static/uploads/images/.gitkeep
!app/static/uploads/icons/.gitkeep
!app/static/uploads/files/.gitkeep
site/
